body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    font-weight: lighter;
}

.navigation{
    color: #565959;
    font-size: smaller;
}

.main-image{
    margin: 0, auto;
    justify-content: center;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    width: 400px;
    justify-content: center;
}

.rating{
    width: 100px;
}

.description{
    margin-left: 50px;
    width: 800px;
}

.author-bio{
    color: #007185;
}

.first-book{
    align-items: center;
    display: flex;
}